<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="expressionlite-packages-source" value="./.packages/" />
    <add key="myget-norealm" value="https://www.myget.org/F/norealm/api/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>
